<section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="imagen">
            <img src="././assets/mi-foto.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="contenedor-acerca-de">
            <section class="acerca-de">
              <h2>Acerca de</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, non pariatur! Optio in,
                alias temporibus consectetur fuga ad harum consequuntur numquam porro eaque enim maiores
                tenetur voluptas fugiat vel cum eius labore nihil, est eligendi inventore. Reprehenderit
                quas, saepe molestiae est totam eaque sit iure accusantium iste, aliquam quis in nostrum
                distinctio porro, velit minus facilis eveniet debitis reiciendis accusamus maxime
                voluptatem modi vitae eligendi. Harum, dolorem eius aperiam nam inventore non facere.
                Facere nihil consectetur eveniet obcaecati sunt, officiis error, ea, repellendus aperiam
                corporis accusantium debitis odit nisi nulla labore beatae deserunt nobis voluptates.
                Esse soluta quae deserunt? Earum.</p>
            </section>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container contenedor-estudios">
      <div class="row">
        <div class="estudios-h1">
          <h1>Estudios:</h1>
        </div>
        <div class="col html">
          <p>Html</p>
        </div>
  
        <div class="col css">
          <p>Css</p>
        </div>
  
        <div class="col bootstrap">
          <p>Bootstrap</p>
        </div>
  
        <div class="col typescript">
          <p>TypeScript</p>
        </div>
  
        <div class="col git">
          <p>GIT</p>
        </div>
  
        <div class="col gh">
          <p>GitHub</p>
        </div>
      </div>
  
      <div class="row">
  
      </div>
    </div>
  </section>